<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobpage</title>
    <script>
        function to_index(){
            window.location.href = '/';
        }
    </script>
</head>
<body>
    <h1>This is Job Page</h1>

    <a href="/"></a>
    <button onclick="to_index()">Menuju Main Page</button>
    
    <ul>
        {% for row in rows %}

            {% set frontname = row.fname %}
            {% set lastname = row.lname %}
            {% set job = row.job %}
            {% set pay = row.pay %}
     
            <li>{{ frontname }}: {{ lastname }}: {{ job }}: {{ pay }}</li>
    
        {% endfor %}
    </ul>
</body>
</html>